.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #b3b9bb, #006181);
    padding: 50px;
}

.jumbotron h1 {
    color: white;
}

.jumbotron form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.jumbotron .form input {
    border: none;
    padding: 5px;
    width: 350px;
    margin: 2px;
}

.jumbotron .form .button-submit {
    border: none;
    background-color: #006181;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(199, 199, 199);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    /* background-image: linear-gradient(to bottom right, #96b3c7, #589cb3); */
    /* border-color: #295d70; */
}

.card .text {
    flex: 3;
}

.button-action {
    flex: 1;
}

.btn-edit {
    border: none;
    background-color: #518ca0;
    padding: 8px;
    border-radius: 5px;
    color: aliceblue;
    margin: 1px;
}

.btn-delete {
    border: none;
    background-color: rgb(176, 156, 197);
    padding: 8px;
    border-radius: 5px;
    color: aliceblue;
    margin: 1px;
}

.btn-delete:hover {
    transform: scale(0.9);
}

.btn-edit:hover {
    transform: scale(0.9);
}

.button-submit:hover {
    transform: scale(0.9);
}